<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.make.dao.heroDAOMapper">
  <resultMap id="BaseResultMap" type="com.make.model.heroDAO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="q" jdbcType="VARCHAR" property="q" />
    <result column="w" jdbcType="VARCHAR" property="w" />
    <result column="e" jdbcType="VARCHAR" property="e" />
    <result column="r" jdbcType="VARCHAR" property="r" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, q, w, e, r
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.make.model.heroDAOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from make_heros
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.make.model.heroDAOKey">
    delete from make_heros
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.make.model.heroDAO">
    insert into make_heros (id, name, q, 
      w, e, r)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{q,jdbcType=VARCHAR}, 
      #{w,jdbcType=VARCHAR}, #{e,jdbcType=VARCHAR}, #{r,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.make.model.heroDAO">
    insert into make_heros
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="q != null">
        q,
      </if>
      <if test="w != null">
        w,
      </if>
      <if test="e != null">
        e,
      </if>
      <if test="r != null">
        r,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="q != null">
        #{q,jdbcType=VARCHAR},
      </if>
      <if test="w != null">
        #{w,jdbcType=VARCHAR},
      </if>
      <if test="e != null">
        #{e,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        #{r,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.make.model.heroDAO">
    update make_heros
    <set>
      <if test="q != null">
        q = #{q,jdbcType=VARCHAR},
      </if>
      <if test="w != null">
        w = #{w,jdbcType=VARCHAR},
      </if>
      <if test="e != null">
        e = #{e,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        r = #{r,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.make.model.heroDAO">
    update make_heros
    set q = #{q,jdbcType=VARCHAR},
      w = #{w,jdbcType=VARCHAR},
      e = #{e,jdbcType=VARCHAR},
      r = #{r,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.make.model.heroDAO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="q" jdbcType="VARCHAR" property="q" />
    <result column="w" jdbcType="VARCHAR" property="w" />
    <result column="e" jdbcType="VARCHAR" property="e" />
    <result column="r" jdbcType="VARCHAR" property="r" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, q, w, e, r
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.make.model.heroDAOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from make_heros
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.make.model.heroDAOKey">
    delete from make_heros
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.make.model.heroDAO">
    insert into make_heros (id, name, q, 
      w, e, r)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{q,jdbcType=VARCHAR}, 
      #{w,jdbcType=VARCHAR}, #{e,jdbcType=VARCHAR}, #{r,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.make.model.heroDAO">
    insert into make_heros
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="q != null">
        q,
      </if>
      <if test="w != null">
        w,
      </if>
      <if test="e != null">
        e,
      </if>
      <if test="r != null">
        r,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="q != null">
        #{q,jdbcType=VARCHAR},
      </if>
      <if test="w != null">
        #{w,jdbcType=VARCHAR},
      </if>
      <if test="e != null">
        #{e,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        #{r,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.make.model.heroDAO">
    update make_heros
    <set>
      <if test="q != null">
        q = #{q,jdbcType=VARCHAR},
      </if>
      <if test="w != null">
        w = #{w,jdbcType=VARCHAR},
      </if>
      <if test="e != null">
        e = #{e,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        r = #{r,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.make.model.heroDAO">
    update make_heros
    set q = #{q,jdbcType=VARCHAR},
      w = #{w,jdbcType=VARCHAR},
      e = #{e,jdbcType=VARCHAR},
      r = #{r,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.make.model.heroDAO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="q" jdbcType="VARCHAR" property="q" />
    <result column="w" jdbcType="VARCHAR" property="w" />
    <result column="e" jdbcType="VARCHAR" property="e" />
    <result column="r" jdbcType="VARCHAR" property="r" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, q, w, e, r
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.make.model.heroDAOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from make_heros
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.make.model.heroDAOKey">
    delete from make_heros
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.make.model.heroDAO">
    insert into make_heros (id, name, q, 
      w, e, r)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{q,jdbcType=VARCHAR}, 
      #{w,jdbcType=VARCHAR}, #{e,jdbcType=VARCHAR}, #{r,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.make.model.heroDAO">
    insert into make_heros
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="q != null">
        q,
      </if>
      <if test="w != null">
        w,
      </if>
      <if test="e != null">
        e,
      </if>
      <if test="r != null">
        r,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="q != null">
        #{q,jdbcType=VARCHAR},
      </if>
      <if test="w != null">
        #{w,jdbcType=VARCHAR},
      </if>
      <if test="e != null">
        #{e,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        #{r,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.make.model.heroDAO">
    update make_heros
    <set>
      <if test="q != null">
        q = #{q,jdbcType=VARCHAR},
      </if>
      <if test="w != null">
        w = #{w,jdbcType=VARCHAR},
      </if>
      <if test="e != null">
        e = #{e,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        r = #{r,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.make.model.heroDAO">
    update make_heros
    set q = #{q,jdbcType=VARCHAR},
      w = #{w,jdbcType=VARCHAR},
      e = #{e,jdbcType=VARCHAR},
      r = #{r,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.make.model.heroDAO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="q" jdbcType="VARCHAR" property="q" />
    <result column="w" jdbcType="VARCHAR" property="w" />
    <result column="e" jdbcType="VARCHAR" property="e" />
    <result column="r" jdbcType="VARCHAR" property="r" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, q, w, e, r
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.make.model.heroDAOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from make_heros
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.make.model.heroDAOKey">
    delete from make_heros
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.make.model.heroDAO">
    insert into make_heros (id, name, q, 
      w, e, r)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{q,jdbcType=VARCHAR}, 
      #{w,jdbcType=VARCHAR}, #{e,jdbcType=VARCHAR}, #{r,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.make.model.heroDAO">
    insert into make_heros
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="q != null">
        q,
      </if>
      <if test="w != null">
        w,
      </if>
      <if test="e != null">
        e,
      </if>
      <if test="r != null">
        r,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="q != null">
        #{q,jdbcType=VARCHAR},
      </if>
      <if test="w != null">
        #{w,jdbcType=VARCHAR},
      </if>
      <if test="e != null">
        #{e,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        #{r,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.make.model.heroDAO">
    update make_heros
    <set>
      <if test="q != null">
        q = #{q,jdbcType=VARCHAR},
      </if>
      <if test="w != null">
        w = #{w,jdbcType=VARCHAR},
      </if>
      <if test="e != null">
        e = #{e,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        r = #{r,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.make.model.heroDAO">
    update make_heros
    set q = #{q,jdbcType=VARCHAR},
      w = #{w,jdbcType=VARCHAR},
      e = #{e,jdbcType=VARCHAR},
      r = #{r,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.make.model.heroDAO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="q" jdbcType="VARCHAR" property="q" />
    <result column="w" jdbcType="VARCHAR" property="w" />
    <result column="e" jdbcType="VARCHAR" property="e" />
    <result column="r" jdbcType="VARCHAR" property="r" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, q, w, e, r
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.make.model.heroDAOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from make_heros
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectByName" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from make_heros
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="findAllHero" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from make_heros
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.make.model.heroDAOKey">
    delete from make_heros
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.make.model.heroDAO">
    insert into make_heros (id, name, q, 
      w, e, r)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{q,jdbcType=VARCHAR}, 
      #{w,jdbcType=VARCHAR}, #{e,jdbcType=VARCHAR}, #{r,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.make.model.heroDAO">
    insert into make_heros
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="q != null">
        q,
      </if>
      <if test="w != null">
        w,
      </if>
      <if test="e != null">
        e,
      </if>
      <if test="r != null">
        r,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="q != null">
        #{q,jdbcType=VARCHAR},
      </if>
      <if test="w != null">
        #{w,jdbcType=VARCHAR},
      </if>
      <if test="e != null">
        #{e,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        #{r,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.make.model.heroDAO">
    update make_heros
    <set>
      <if test="q != null">
        q = #{q,jdbcType=VARCHAR},
      </if>
      <if test="w != null">
        w = #{w,jdbcType=VARCHAR},
      </if>
      <if test="e != null">
        e = #{e,jdbcType=VARCHAR},
      </if>
      <if test="r != null">
        r = #{r,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.make.model.heroDAO">
    update make_heros
    set q = #{q,jdbcType=VARCHAR},
      w = #{w,jdbcType=VARCHAR},
      e = #{e,jdbcType=VARCHAR},
      r = #{r,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
</mapper>